@font-face {
  font-family: OpenDyslexic;
  src: url(../fonts/OpenDyslexic-Regular.woff2) format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: OpenDyslexic;
}

body {
}

.bg-color-body {
  background-color: #f3cba5;
}

.bg-color-roxo {
  background-color: #975a5e;
}

.bg-color-violeta {
  background-color: #25161b;
}

.bg-image-home {
  background-image: url("/assets/backgrounds/bg-home.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.iframe-home {
  width: 90%;
  height: 450px;
  border: 8px solid #453953;
}

.placa-doar {
  background-color: #25161b;
  width: 70%;
  position: relative;
  top: -80px;
}

/*PÁGINA DE NOVIDADES*/

.bg-image-novidades {
  background-image: url("../assets/backgrounds/bg-home.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.border-slide {
  border: 8px solid #453953;
}

.btn-roxo {
  background-color: #975a5e;
  border: 0;
  color: white;
  transition: 0.3s;
}

.btn-roxo:hover {
  background-color: #453953;
}
