#modal-armazem {
  display: none;
  width: 30vw;
  height: 70vh;
  border: 5px solid #975a5e;
  position: absolute;
  z-index: 40;
  top: 2%;
  left: 39%;
  background-color: #453953;
}

#modal-armazem h1 {
  height: 60px;
  text-align: center;
}

#armazem-itens {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0 10px;
  overflow-y: auto;
}

#armazem-itens img {
  width: 20%;
  cursor: pointer;
  margin-bottom: 5px;
}

#btn-closeArmazem {
  font-weight: bold;
  background-color: #975a5e;
  border: 0;
  border-bottom-left-radius: 10px;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: 0.3s;
}

#btn-closeArmazem:hover {
  background-color: #f3cba5;
}