<!DOCTYPE html>
<html lang="pt-br">
<head>
  <div th:replace="fragments/head::general_head(title='Alquimia das palavras')"></div>
  <link rel="stylesheet" th:href="@{/css/site/style.css}" />
  <link rel="shortcut icon" th:href="@{/images/site/favicon.ico}" type="image/x-icon" />
  <style th:inline="css">
    .bg-image-home {
      background-image: url("/images/site/backgrounds/bg-home.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    @media screen and (max-width: 1200px) {
      .bg-image-home {
        background-image: none;
      }
    }
    @media screen and (max-width: 768px) {
      .iframe-home {
        height: 350px;
      }
    }
  </style>
</head>
<body class="bg-color-body animacao">
<nav th:replace="fragments/header::html_header(pageActive='home')"></nav>
<main>
  <section class="bg-image-home py-5">
    <div class="container">
      <!--SINOPSE DO JOGO-->
      <div class="row pb-3">
        <div class="col-lg-8 col-xl-6 text-center mx-auto p-0">
          <img width="200px" th:src="@{/images/site/logos/secondary-logo.png}" alt="secondary-logo" />
          <p class="fs-5 w-75 mx-auto">
            De uma hora para outra as pessoas começaram a esquecer
            determinadas palavras. No entanto, não há necessidade de pânico,
            pois o Estabelecimento Alquimia das Palavras está pronto para fazer os seus clientes
            recuperarem suas palavras perdidas!
          </p>
          <img width="100%" style="opacity: 0.5" th:src="@{/images/site/forms/linha-redondaX.svg}" />
        </div>
      </div>

      <!--IFRAME VIDEO DEMO-->
      <div class="d-flex flex-column align-items-center">
        <h2>Assista ao teaser do jogo!</h2>
        <div class="row w-100">
          <div class="col-xl-8 bg-color-roxo text-center mx-auto mt-4 py-4 rounded-3">
            <iframe class="shadow-lg mb-4 iframe-home" src="https://www.youtube.com/embed/8nGguBwmmDU"
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <!--PLACA DE DOAÇÃO-->
      <div class="placa-doar mx-auto py-3 text-center rounded-3 shadow">
        <div class="d-lg-flex align-items-center justify-content-center">
          <img width="100px" th:src="@{/images/site/icons/icon-alqui.svg}" alt="Ícone Alquimia das palavras" />
          <p class="text-light mt-3 ms-2 fs-5">Apoie o projeto!</p>
        </div>
        <p class="text-light w-75 mx-auto">
          Apoiar o projeto nos ajudará a trazer mais atualizações! Além
          disso você terá acesso a qualquer informação ou atualização com
          antecedência.
        </p>
        <button class="btn btn-outline-warning mb-1 py-2 px-4">
          Apoiar
        </button>
      </div>
    </div>
  </section>

</main>
<footer th:replace="fragments/footer::html_footer"></footer>
<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
</body>

</html>