<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Estabelecimento Alquimico</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
  <link rel="stylesheet" th:href="@{/css/game/general-style.css}" />
  <link rel="stylesheet" th:href="@{/css/game/Cenario.css}">
  <link rel="stylesheet" th:href="@{/css/game/Menus.css}" />
  <link rel="stylesheet" th:href="@{/css/game/PainelMoedas.css}">
  <link rel="stylesheet" th:href="@{/css/game/Status.css}">
  <link rel="stylesheet" th:href="@{/css/game/Armazem.css}" />
  <link rel="stylesheet" th:href="@{/css/game/Grimorio.css}" />
  <link rel="stylesheet" th:href="@{/css/game/Transition.css}" />
  <link rel="stylesheet" th:href="@{/css/game/media-queries.css}">
  <script th:src="@{/js/game/index.js}" type="module"></script>
</head>

<body>

  <div id="game"></div>

</body>

</html>