<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <title>Estabelecimento Alquimico</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/game/general-style.css}" />
  <link rel="stylesheet" th:href="@{/css/game/Cenario.css}">
  <link rel="stylesheet" th:href="@{/css/game/Menus.css}" />
  <link rel="stylesheet" th:href="@{/css/game/PainelMoedas.css}">
  <link rel="stylesheet" th:href="@{/css/game/Status.css}">
  <link rel="stylesheet" th:href="@{/css/game/Armazem.css}" />
  <link rel="stylesheet" th:href="@{/css/game/Grimorio.css}" />
  <link rel="stylesheet" th:href="@{/css/game/Transition.css}" />
  <link rel="stylesheet" th:href="@{/css/game/media-queries.css}">
</head>

<body>

  <div id="game"></div>

  <script th:src="@{/js/game/index.js}" type="module"></script>
  <script th:inline="javascript" th:if="${session.usuario != null}">
    sessionStorage.setItem("id", /*[[${gamesave.id}]]*/)
    sessionStorage.setItem("dia", /*[[${gamesave.dia}]]*/)
    sessionStorage.setItem("npc", /*[[${gamesave.npc}]]*/)
    sessionStorage.setItem("moeda_bronze", /*[[${gamesave.moeda_bronze}]]*/)
    sessionStorage.setItem("moeda_prata", /*[[${gamesave.moeda_prata}]]*/)
    sessionStorage.setItem("moeda_ouro", /*[[${gamesave.moeda_ouro}]]*/)
    sessionStorage.setItem("armazem", /*[[${gamesave.armazem}]]*/)
    sessionStorage.setItem("receita", /*[[${gamesave.receita}]]*/)
  </script>
</body>

</html>