<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <title>Estabelecimento Alquimico</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
  <link rel="stylesheet" th:href="@{/css/game/general-style.css}" />
  <link rel="stylesheet" th:href="@{/css/game/Cenario.css}">
  <link rel="stylesheet" th:href="@{/css/game/Menus.css}" />
  <link rel="stylesheet" th:href="@{/css/game/PainelMoedas.css}">
  <link rel="stylesheet" th:href="@{/css/game/Status.css}">
  <link rel="stylesheet" th:href="@{/css/game/Armazem.css}" />
  <link rel="stylesheet" th:href="@{/css/game/Grimorio.css}" />
  <link rel="stylesheet" th:href="@{/css/game/Transition.css}" />
  <link rel="stylesheet" th:href="@{/css/game/media-queries.css}">
</head>

<body>

  <div id="game"></div>

  <script th:src="@{/js/game/index.js}" type="module"></script>
  <script th:inline="javascript" th:if="${session.usuario != null}">
    var gamesaveJs = /*[[${gamesave}]]*/
      sessionStorage.setItem("id", gamesaveJs.id)
    sessionStorage.setItem("dia", gamesaveJs.dia)
    sessionStorage.setItem("npc", gamesaveJs.npc)
    sessionStorage.setItem("moeda_bronze", gamesaveJs.moeda_bronze)
    sessionStorage.setItem("moeda_prata", gamesaveJs.moeda_prata)
    sessionStorage.setItem("moeda_ouro", gamesaveJs.moeda_ouro)
    sessionStorage.setItem("armazem", gamesaveJs.armazem)
    sessionStorage.setItem("receita", gamesaveJs.receita)
  </script>
</body>

</html>