#status {
  width: 11.3rem;
  height: 10.65rem;
  background-color: #453953;
  padding-top: 0.32rem;
  position: absolute;
  bottom: 0;
  z-index: 25;
  left: 1.35rem;
  border-top: 0.32rem solid #975a5e;
  border-right: 0.32rem solid #975a5e;
  border-left: 0.32rem solid #975a5e;
  border-top-right-radius: 0.65rem;
  border-top-left-radius: 0.65rem;
  text-align: center;
}

#status img {
  width: 90%;
  cursor: pointer;
}

#btns-config {
  position: absolute;
  top: 0;
  right: -2.69rem;
  z-index: 10;
}

#btn-music,
#btn-save {
  display: flex;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  font-weight: bold;
  background-color: #975a5e;
  border-left: 2px solid #975a5e;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-top-right-radius: 0.65rem;
  border-bottom-right-radius: 0.65rem;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  cursor: pointer;
  transition: 0.3s;
}

#btn-music {
  top: 0;
}

#btn-save {
  top: 3rem;
}

#btn-music:hover,
#btn-save:hover {
  background-color: #f3cba5;
}