@media screen and (max-width: 1200px) {
  .bg-image-home {
    background-image: none;
  }
  .bg-image-mecanicas {
    background-image: none;
  }
  .bg-image-novidades {
    background-image: none;
  }
}

@media screen and (max-width: 768px) {
  .iframe-home {
    height: 350px;
  }
}
/*FIM PÁGINA HOME*/
