<!DOCTYPE html>
<html lang="pt-br">
<head>
    <head th:replace="fragments/head::general_head(title='Game Save')"></head>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon" />
    <style th:inline="css">
        table{
            border-top: 2px solid #975a5e;
        }
        tr{
            border-bottom: 2px solid #975a5e;
        }
        th,td{
            padding: 8px;
        }
        th:not(:last-of-type),td:not(:last-of-type){
            border-right: 2px solid #975a5e;
        }
    </style>
</head>
<body class="bg-color-body">
<main class="py-3">
    <nav class="mb-4">
        <div class="container">
            <a class="btn-roxo d-inline-block py-3 px-4 rounded-pill cursor-pointer text-decoration-none" href="/admin">Voltar ao dashboard</a>
        </div>
    </nav>
    <section>
        <div class="container">
            <div class="row mb-4">
                <div class="col-xl-9 mx-auto">
                    <h3>Cadastro game save</h3>
                    <form th:object="${gamesave}" action="/gamesave/insert" method="post" class="border-slide p-4 rounded-3">
                        <fieldset>
                            <legend>Dados do Game Save</legend>
                            <div class="mb-2">
                                <label for="id_usuario">Id do usuário:</label>
                                <input th:field="${gamesave.id_usuario}" type="number" id="id_usuario" class="form-control" required>
                            </div>
                            <div class="mb-2">
                                <label for="dia">Dia:</label>
                                <input th:field="${gamesave.dia}" type="number" id="dia" class="form-control" required>
                            </div>
                            <div class="mb-2">
                                <label for="npc">Npc:</label>
                                <input th:field="${gamesave.npc}" type="number" id="npc" class="form-control" required>
                            </div>
                            <div class="d-md-flex gap-2 mb-2">
                                <div class="w-100">
                                    <label for="moeda_bronze">Moeda de bronze (opcional):</label>
                                    <input th:field="${gamesave.moeda_bronze}" type="number" id="moeda_bronze" class="form-control">
                                </div>
                                <div class="w-100">
                                    <label for="moeda_prata">Moeda de prata (opcional):</label>
                                    <input th:field="${gamesave.moeda_prata}" type="number" id="moeda_prata" class="form-control">
                                </div>
                                <div class="w-100">
                                    <label for="moeda_ouro">Moeda de ouro (opcional):</label>
                                    <input th:field="${gamesave.moeda_ouro}" type="number" id="moeda_ouro" class="form-control">
                                </div>
                            </div>
                            <div class="mb-2">
                                <label for="ingredientes">Ingredientes (opcional):</label>
                                <input th:field="${gamesave.ingredientes}" type="text" id="ingredientes" class="form-control">
                            </div>
                            <div class="mb-2">
                                <label for="itens">Itens (opcional):</label>
                                <input th:field="${gamesave.itens}" type="text" id="itens" class="form-control">
                            </div>
                            <div class="mb-4">
                                <label for="potions">Poções (opcional):</label>
                                <input th:field="${gamesave.potions}" type="text" id="potions" class="form-control">
                            </div>
                            <div>
                                <button type="submit" class="btn-roxo py-3 px-4 rounded-pill">Cadastrar</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="overflow-auto">
                <table class="text-center w-100 mx-auto">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Id do usuário</th>
                        <th>Dia</th>
                        <th>NPC</th>
                        <th>Moeda de bronze</th>
                        <th>Moeda de prata</th>
                        <th>Moeda de ouro</th>
                        <th>Ingredientes</th>
                        <th>itens</th>
                        <th>Poções</th>
                        <th>Ações</th>
                    </tr>
                    </thead>
                    <tbody th:each="gamesave : ${gamesaves}">
                        <tr>
                            <td th:text="${gamesave.id}"></td>
                            <td th:text="${gamesave.id_usuario}"></td>
                            <td th:text="${gamesave.dia}"></td>
                            <td th:text="${gamesave.npc}"></td>
                            <td th:text="${gamesave.moeda_bronze}"></td>
                            <td th:text="${gamesave.moeda_prata}"></td>
                            <td th:text="${gamesave.moeda_ouro}"></td>
                            <td th:text="${gamesave.ingredientes}"></td>
                            <td th:text="${gamesave.itens}"></td>
                            <td th:text="${gamesave.potions}"></td>
                            <td>
                                <a th:href="@{'/gamesave/edit/'+${gamesave.id}}" class="btn btn-primary">Editar</a>
                                <a th:href="@{'/gamesave/delete/'+${gamesave.id}}" onclick="return confirm('Deseja Excluir?')" class="btn btn-danger">Excluir</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--container-->
    </section>
</main>
<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
</body>

</html>