<!DOCTYPE html>
<html lang="pt-br">
<head>
    <div th:replace="fragments/head::general_head(title='Dashboard - Admin')"></div>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/media-queries.css}" />
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon" />
    <style th:inline="css">

    </style>
</head>
<body class="bg-color-body">
<main class="py-3">
    <nav>
        <div class="container">
            <a class="btn-roxo d-inline-block py-3 px-4 rounded-pill cursor-pointer text-decoration-none" href="/">Voltar ao site</a>
        </div>
    </nav>
    <section class="position-absolute top-50 start-50 translate-middle">
        <div class="container text-center">
            <h1>Dashboard</h1>
            <div class="col-lg-10 border-slide rounded-2 mx-auto px-2 pt-4">
                <a href="/gamesave-select" class="btn-roxo d-inline-block py-3 px-4 mx-1 mb-4 rounded-pill cursor-pointer text-decoration-none">Game Save</a>
                <a href="/usuario-select" class="btn-roxo d-inline-block py-3 px-4 mx-1 mb-4 rounded-pill cursor-pointer text-decoration-none">Usuários</a>
            </div>
        </div>
    </section>

</main>
<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
</body>

</html>