<footer th:fragment="html_footer" style="border-top: 3px solid #453953">
    <div class="container py-4">
        <div class="row mt-3">
            <div class="col-12 text-center">
                <a class="navbar-brand" href="/"><img th:src="@{/images/logos/main-logo.png}" width="200px" alt="main-logo" /></a>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12 col-sm-6 col-xl-3 text-center text-xl-start">
                <a class="d-block text-muted text-decoration-none mb-3" href="/">Home</a>

                <a class="d-block text-muted text-decoration-none mb-3" href="/mechanics">Mecânica</a>

                <a class="d-block text-muted text-decoration-none mb-3" href="/about">Quem somos</a>

                <a class="d-block text-muted text-decoration-none mb-3" href="/news">Novidades</a>
            </div>

            <div class="col-12 col-sm-6 col-xl-3 text-center text-xl-start">
                <a class="d-block text-muted text-decoration-none mb-3" href="#">Jogos divertidos</a>

                <a class="d-block text-muted text-decoration-none mb-3" href="#">jogos educativos</a>

                <a class="d-block text-muted text-decoration-none mb-3" href="#">Jogos faceis</a>

                <a class="d-block text-muted text-decoration-none mb-3" href="#">jogos para crianças</a>
            </div>

            <div class="col-12 col-sm-6 col-xl-3 text-center text-xl-start">
                <a class="d-block text-muted text-decoration-none mb-3" href="#">Aprenda mais sobre dislexia</a>

                <a href="https://www.dyslexiefont.com/" target="_blank"
                   class="d-block text-muted text-decoration-none mb-3">Fonte de texto utilizada</a>

                <a class="d-block text-muted text-decoration-none mb-3" href="#">Aprenda se divertindo</a>

                <a class="d-block text-muted text-decoration-none mb-3" href="#">Aprenda de maneira lúdica</a>
            </div>

            <div class="col-12 col-sm-6 col-xl-3 text-center text-xl-start">
                <a class="d-block text-muted text-decoration-none mb-3" href="/signup">Cadastre-se</a>

                <a class="d-block text-muted text-decoration-none mb-3" href="#">Jogos especiais</a>

                <a class="d-block text-muted text-decoration-none mb-3" href="#">Jogos para todos</a>

                <a class="d-block text-muted text-decoration-none mb-3" href="#">Jogos imperdíveis</a>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center mt-5">
                <h3 class="text-muted mb-4">Nos siga nas redes sociais!</h3>

                <a href="https://www.facebook.com/" class="d-inline-block mx-2 mb-2" target="_blank"><img width="50px"
                                                                                                          src="./images/icons/icon-face.png" alt="Ícone Facebook" />
                </a>

                <a href="https://www.instagram.com/" class="d-inline-block mx-2 mb-2" target="_blank"><img width="50px"
                                                                                                           src="./images/icons/icon-insta.png" alt="Ícone Instagram" /></a>

                <a href="https://twitter.com/" class="d-inline-block mx-2 mb-2" target="_blank"><img width="50px"
                                                                                                     src="./images/icons/icon-twitter.png" alt="Ícone Twitter" /></a>

                <a href="https://www.tiktok.com/" class="d-inline-block mx-2 mb-2" target="_blank"><img width="50px"
                                                                                                        src="./images/icons/icon-tiktoc.png" alt="Ícone Tik Tok" /></a>
            </div>

        </div>

        <div class="row text-center mt-3">
            <div class="col-12">
                <p class="text-muted fs-5">Todos os direitos reservados</p>
            </div>
        </div>
    </div>
</footer>