<nav th:fragment="html_header" style="border-bottom: 3px solid #453953"
    class="navbar navbar-expand-lg navbar-light shadow" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <style>
            .nav-link:hover {
                color: black !important;
            }

            .dropdown-menu {
                background-color: #f3cba5;
                border: 3px solid #453953;
            }

            .dropdown-item {
                color: rgba(0, 0, 0, 0.55) !important;
                background-color: transparent !important;
            }

            .dropdown-item:hover {
                color: black !important;
            }

            .dropdown-item.active {
                color: black !important;
            }
        </style>
        <a class="navbar-brand" href="/pages/">
            <img width="200px" th:src="@{/images/site/logos/main-logo.png}" alt="main-logo" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-lg-flex justify-content-lg-between" id="navbarNav">
            <ul class="navbar-nav text-center">
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${pageActive == 'home'} ? 'active' : '' " href="/pages/">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${pageActive == 'mechanics'} ? 'active' : '' "
                        href="/pages/mechanics">Mecânicas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${pageActive == 'news'} ? 'active' : '' "
                        href="/pages/news">Novidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${pageActive == 'about'} ? 'active' : '' "
                        href="/pages/about">Quem somos</a>
                </li>
            </ul>
            <div class="d-flex justify-content-center align-self-center">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a th:if="${session.usuario == null}" class="nav-link"
                            th:classappend="${pageActive == 'login'} ? 'active' : '' " href="/pages/login">
                            <img width="22px" class="me-1 mb-1" th:src="@{/images/site/icons/icon-login.svg}"
                                alt="Ícone login" />
                            Entrar
                        </a>
                        <div th:if="${session.usuario != null}" class="dropdown">
                            <button class="btn btn-none dropdown-toggle me-1 shadow-none border-0" type="button"
                                id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                                <img style="border-radius: 50%;" width="35px"
                                    th:src="|/profile/picture/${session.active_profilepicture.id}|"
                                    th:alt="@{'Foto de'+${session.active_profilepicture.nome}}" />
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                                <li>
                                    <a class="dropdown-item"
                                        th:classappend="${pageActive == 'profile'} ? 'active' : '' "
                                        href="/pages/profile">Perfil</a>
                                </li>
                                <li th:if="${session.usuario.cargo.id == 1}">
                                    <a class="dropdown-item" href="/admin/dashboard">Dashboard</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/logout">Sair</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>